.productCard{
  width: 350px;
  float: left;
  margin: 5px;
 
}

.checkoutForm{
  width: 700px;
  margin-left: 120px;
}

.checkoutImage{
  width: 50px;
  height: 50px;
}

.myCart{
  color:white;
  text-decoration: none;
}


.myCart:hover{
  color: rgb(139, 134, 134)
}